# Dependencies
node_modules/
Backend/node_modules/
Frontend/node_modules/

# Environment variables / secrets
.env
Backend/.env
Frontend/.env

# Build files
dist/
Frontend/dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
